header{
    background-color: #FFFBF0;
    
}
.title-1{
    color: #FABE4C;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
}
.title-2{
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
}
.panda-button{
    background-color: #A4BC46;
    color: white;
    border-radius: .5em;  
}
.panda-button img{
    width: 1.2em;
}
.product-card{
    border-radius: 15px;
    width: 300px;
}
.product-pic{
    border-radius: 15px;
    background-color: rgba(235, 226, 226, 0.973); 
    margin: 15px 15px;
    padding: 10px 10px;
    height: 250px;
    object-position: center;
}
.side-col img{
    padding-right:20px;
    width: 80px;
}
.shopping-cart{
    width: 490px;
    height:400px;
    padding-top: 50px;
    object-position: center;
}